@font-face {
  font-family: "iconfont";
  src: url('../fonts/iconfont.eot');
  src: url('../fonts/iconfont.eot?#iefix') format('eot'), url('../fonts/iconfont.woff2') format('woff2'), url('../fonts/iconfont.woff') format('woff'), url('../fonts/iconfont.ttf') format('truetype'), url('../fonts/iconfont.svg#iconfont') format('svg');
}
.icon:before {
  font-family: "iconfont";
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  /* speak: none; only necessary if not using the private unicode range (firstGlyph option) */
  text-decoration: none;
  text-transform: none;
}
.icon-ico-fd_tool_callculation_field:before {
  content: "\E001";
}
.icon-ico-fd_tool_choice_multy:before {
  content: "\E002";
}
.icon-ico-fd_tool_clock:before {
  content: "\E003";
}
.icon-ico-fd_tool_clone:before {
  content: "\E004";
}
.icon-ico-fd_tool_dropdown:before {
  content: "\E005";
}
.icon-ico-fd_tool_gauge:before {
  content: "\E006";
}
.icon-ico-fd_tool_handwriting:before {
  content: "\E007";
}
.icon-ico-fd_tool_heading:before {
  content: "\E008";
}
.icon-ico-fd_tool_keyboard:before {
  content: "\E009";
}
.icon-ico-fd_tool_message:before {
  content: "\E00A";
}
.icon-ico-fd_tool_numeric:before {
  content: "\E00B";
}
.icon-ico-fd_tool_output:before {
  content: "\E00C";
}
.icon-ico-fd_tool_photo:before {
  content: "\E00D";
}
.icon-ico-fd_tool_placeholder:before {
  content: "\E00E";
}
.icon-ico-fd_tool_placeholder_fields:before {
  content: "\E00F";
}
.icon-ico-fd_tool_row-2:before {
  content: "\E010";
}
.icon-ico-fd_tool_row-3:before {
  content: "\E011";
}
.icon-ico-fd_tool_row-4:before {
  content: "\E012";
}
.icon-ico-fd_tool_row-5:before {
  content: "\E013";
}
.icon-ico-fd_tool_row-6:before {
  content: "\E014";
}
.icon-ico-fd_tool_row-7:before {
  content: "\E015";
}
.icon-ico-fd_tool_row-8:before {
  content: "\E016";
}
.icon-ico-fd_tool_singlechoice:before {
  content: "\E017";
}
.icon-ico-fd_tool_skip:before {
  content: "\E018";
}
.icon-ico_fd_2angle:before {
  content: "\E019";
}
.icon-ico_fd_angle:before {
  content: "\E01A";
}
.icon-ico_fd_angle_end:before {
  content: "\E01B";
}
.icon-ico_fd_angle_next:before {
  content: "\E01C";
}
.icon-ico_fd_arrow:before {
  content: "\E01D";
}
.icon-ico_fd_save:before {
  content: "\E01E";
}
.icon-ico_fd_tool_date:before {
  content: "\E01F";
}
* {
  max-height: 10000px;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}
html {
  box-sizing: border-box;
}
body {
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: none;
  margin: 0;
  min-width: 320px;
  font: 14px/20px 'Arial', 'Helvetica', sans-serif;
  color: #666;
  background: #fff;
}
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
menu,
nav,
section {
  display: block;
}
figure {
  margin: 0;
  padding: 0;
}
img {
  vertical-align: top;
  max-width: 100%;
  border: 0;
}
a {
  color: #4a90e2;
  text-decoration: none;
}
a:hover {
  color: #7fb0ea;
}
button::-moz-focus-inner {
  padding: 0;
  border: 0;
}
form,
fieldset {
  margin: 0;
  padding: 0;
  border: 0;
}
input,
textarea,
select {
  font: 12px Arial, Helvetica, sans-serif;
  vertical-align: middle;
  outline: none;
}
::-moz-placeholder {
  opacity: 1;
}
input[type="image"] {
  padding: 0;
  border: none;
}
input[type=url],
input[type=search],
input[type=tel],
input[type=email],
input[type=text],
input[type=password],
input[type=file],
input[type=submit],
textarea {
  -webkit-appearance: none;
}
input[type="search"]::-webkit-search-cancel-button {
  -webkit-appearance: none;
}
#wrapper {
  position: relative;
  overflow: hidden;
}
.w1 {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 15px;
}

/*# sourceMappingURL=all.css.map */
